body {
  font-family: arial, sans-serif;
  background: #eee;
  color: #333;
  font-size: 16px;
  line-height: 1.3;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.post-form-block {
  width: 900px;
  background: #ccc;
  padding: 20px;
  position: fixed;
  top: 0;
}

.form-field {
  border: 1px solid #777;
  border-radius: 4px;
  padding: 3px;
  color: #333;
  font-size: 13px;
}

.form-field-1 {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
}

.form-field-2 {
  width: 860px;
  max-width: 860px;
  height: 80px;
  max-height: 80px;
}

.post-send {
  width: 120px;
  height: 40px;
  margin-left: 20px;
  font-size: 24px;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: 8px 8px 6px 0px #000;
}

.post-send:active {
  box-shadow: 4px 4px 3px 0px #000;
}

.posts-block {
  padding-top: 180px;
  background: #ccc;
}

.post {
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background: #b9def0;
  border: 2px solid #333;
  border-radius: 8px;
}

.post-head {
  width: 20%;
  float: left;
  border-right: 1px dashed #777;
}

.post-author {
  font-size: 16px;
  font-weight: bold;
}

.post-time {
  font-size: 13px;
  font-weight: normal;
}

.post-message {
  width: 78%;
  float: right;
}